.mdl-layout__header-row {
    background: rgb(48, 84, 150);
}

.mdl-layout__drawer-button {
    background-color: rgb(48,84,150) !important;
}

.mdl-mini-footer {
    background-color: darkgrey!important;
}

.logo {
    height: 50px;
    width: 50px;
    padding: 3px;
    margin-left: 25px;
}

table {
    margin: 0px auto;
}

table caption {
    text-align: left;
    margin-top: 50px;
}

.cart-empty {
    margin: 0px auto;
    margin-top: 50px;
}

.notif {
    color: green;
    text-align: center;
    font-weight: bold;
}

#admin-table td:nth-child(1) {
    text-align: left;
}

#admin-table td:nth-child(3) {
    text-align: center;
}

#admin-table td:nth-child(4) {
    text-align: center;
}

#admin-table td:nth-child(5) {
    text-align: center;
}

#admin-table td:nth-child(6) {
    text-align: center;
}

#admin-table td:nth-child(7) {
    text-align: center;
}

#customer-table td:nth-child(1) {
    text-align: left;
}

#customer-table td:nth-child(2) {
    text-align: center;
}

#customer-table td:nth-child(4) {
    text-align: left;
}

#customer-table td:nth-child(5) {
    text-align: center;
}

#cart-table td:nth-child(1) {
    text-align: left;
}

#cart-table td:nth-child(2) {
    text-align: left;
}

#cart-table tr:last-child {
    font-weight: bold;
}

body {font-family: Arial, Helvetica, sans-serif;}
container{box-sizing: border-box;}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
.clearfix {
  background-color: blue;
  color: white;
  padding: 10px 10px;
  margin: 0 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
.container {
  padding: 300px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

nav {
	background-color: rgb(48, 84, 150);
	color: #ffffff;
	display: flex;
	height: 60px;
}

.start {
	width: 50%;
	margin: auto;
	font-family: inherit;
	display: flex;
}

.start a {
	color: white;
	float: right;
	font-size: 1.5em;
	margin-left: 500px
}

.start p {
	font-size: 24px;
	padding-left: 30px;
	margin: 0px;
	padding-top: 10px;
	padding-right: 20px
}